@using Ping.Data.Models
@model List<Organization>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var org in Model)
    {
        <p>@org.Name</p>
    }
</div>
